* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#background-video {
  position: fixed;
}

#container {
  color: #fff;

  width: 90%;
  margin: 2.5% 0;
  padding: 2.5%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
}


/* INSIDE SECTIONS*/
main section {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 2.5%;
}

.game-card {
  margin-bottom: 2.5%;

  width: 48.75%;
  aspect-ratio: 1/1.5;

  perspective: 1000px;
}

@media (min-width: 768px) {
  .game-card {
    width: 31.5%;
  }
}

@media (min-width: 1024px) {
  .game-card {
    width: 20%;
  }
}

.internal-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}

@media (min-width: 540px) {
  .game-card:hover .internal-card {
    transform: rotateY(180deg);
  }
}

.back-side,
.front-side {
  position: absolute;
  backface-visibility: hidden;

  width: 100%;
  height: 100%;
  border-radius: 16px;

  background-color: white;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.front-side{
  cursor: pointer;
}

.back-side {
  transform: rotateY(180deg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: default;
}

.back-side-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-side-description img {
  width: 15%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.back-side-description .text-bg,
.back-side-description .text-bg {
  background-color: rgba(0, 0, 0, 0.3);
}

.back-side-description h2 {
  padding: 2.5px;
  width: 100%;
  margin-bottom: 2%;

  text-align: center;
  font-size: 1em;
  text-shadow: 3px 3px 10px black;

}

.back-side-description p {
  width: 100%;

  text-align: center;
  font-size: 0.85em;
  text-shadow: 3px 3px 10px black;
}

.back-side-beated {
  width: 75%;
  aspect-ratio: 1/0.7;
  border-radius: 8px;
  margin: 2.5% auto 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: 300% 300%;
  background-image: linear-gradient(-45deg,
      #BF953F 0%,
      #FCF6BA 25%,
      #B38728 51%,
      #FBF5B7 100%);
  animation: ease-gradient 8s ease infinite;
}

@keyframes ease-gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/*END INSIDE SECTIONS*/

#section-divider {
  width: 55%;

  margin: 5% auto;
  text-align: center;
  padding: 10px 0;

  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 9px rgba(271, 271, 271, 0.2);
}